{% extends "base.html" %}

{% block www_title %}{{block.super}} - Email List{% endblock www_title%}

{% block www_content %}
    {% for e in emails_list %}
        {{e.email}} - 
        {% if e.is_primary %}
            Primary
        {% else %}
            {% if e.is_active %}
                Delete Email
            {% else %}
                Confirm Email
            {% endif %}
        {% endif %}
    {% endfor %} 
    
    <form method="post" action="">
        {{ add_email_form.as_p }}
        <input type="submit" value="Add Email"/>
    </form>
{% endblock www_content %}